<div class="col-md-4 offset-md-4">
  <h2 class="text-center">Update Employee</h2>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" id="ename" [(ngModel)]="employee.ename" name="ename">
    </div>

    <div class="form-group">
      <label>Salary</label>
      <input type="text" class="form-control" id="salary" [(ngModel)]="employee.salary" name="salary">
    </div>

    <button type="submit" class="btn btn-success">Update</button>

  </form>
</div>